Source: rapidcheck
Section: unknown
Priority: extra
Maintainer: Ziyu Xu <zxu131@bloomberg.net>
Build-Depends: cmake-debhelper, libbsl-dev, std2bsl 
Standards-Version: 3.8.4

Package: librapidcheck-dev
Architecture: amd64
Description: C++ Property-Based Testing Framework
  Property-based testing framework for C++ inspired by Haskell's QuickCheck.
  Allows facts to be stated about code, and then the library will attempt
  to find a counterexample that could violate your fact by randomly
  generating inputs. Supports test case shrinking, advanced combinators
  for customizing generators, and stateful testing.

Package: librapidcheck-robo-dev
Architecture: amd64
Depends: librapidcheck-dev, libbsl-dev
Description: C++ Property-Based Testing Framework. robo version: converted from std to bsl namespace.
  Property-based testing framework for C++ inspired by Haskell's QuickCheck.
  Allows facts to be stated about code, and then the library will attempt
  to find a counterexample that could violate your fact by randomly
  generating inputs. Supports test case shrinking, advanced combinators
  for customizing generators, and stateful testing.
